<div class="all-wrapper menu-side with-side-panel">
    <div class="layout-w">
        <!--------------------
        START - Mobile Menu
        -------------------->
        <div class="menu-mobile menu-activated-on-click color-scheme-dark">
            <div class="mm-logo-buttons-w">
                <a class="mm-logo" href="index.html"><img src="assets/img/logo.png"><span>EasyWeb CMS</span></a>
                <div class="mm-buttons">
                    <div class="content-panel-open">
                        <div class="os-icon os-icon-grid-circles"></div>
                    </div>
                    <div class="mobile-menu-trigger">
                        <div class="os-icon os-icon-hamburger-menu-1"></div>
                    </div>
                </div>
            </div>
            <div class="menu-and-user">
                <div class="logged-user-w">
                    <div class="avatar-w">
                        <img alt="" src="assets/img/avatar1.jpg">
                    </div>
                    <div class="logged-user-info-w">
                        <div class="logged-user-name">
                            Maria Gomez
                        </div>
                        <div class="logged-user-role">
                            Administrator
                        </div>
                    </div>
                </div>
                <!--------------------
                START - Mobile Menu List
                -------------------->
                <ul class="main-menu">
                    <li class="has-sub-menu">
                        <a href="index.html">
                            <div class="icon-w">
                                <div class="os-icon os-icon-window-content"></div>
                            </div>
                            <span>Dashboard</span></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="index.html">Dashboard 1</a>
                            </li>
                            <li>
                                <a href="apps_projects.html">Dashboard 2</a>
                            </li>
                            <li>
                                <a href="layouts_menu_top_image.html">Dashboard 3</a>
                            </li>
                        </ul>
                    </li>
         
                </ul>
                <!--------------------
                END - Mobile Menu List
                -------------------->
                <div class="mobile-menu-magic">
                    <h4>
                       Easyweb CMS
                    </h4>
               
                 
                </div>
            </div>
        </div>
        <!--------------------
        END - Mobile Menu
        --------------------><!--------------------
          START - Menu side 
          -------------------->
        <div class="desktop-menu menu-side-w menu-activated-on-click">
            <div class="logo-w">
                <a class="logo" href="index.html"><img
                        src="http://vinaas.com/Images/VINAAS/VinaAS_logo_70x70.png"><span>EasyWeb CMS</span></a>
            </div>
            <div class="menu-and-user">
                <div class="logged-user-w dropdown">
                    <div class="logged-user-i" id="dropdownAccount"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="avatar-w">
                            <img alt="" src="assets/img/avatar1.jpg">
                        </div>
                        <div class="logged-user-info-w">
                            <div class="logged-user-name">
                                Nguyễn Văn A
                            </div>
                            <div class="logged-user-role">
                                Administrator
                            </div>
                        </div>

                    </div>

                    <div class="dropdown-menu dropdown-menu-right dropdownAccount" aria-labelledby="dropdownAccount ">
                        <a class="dropdown-item" href="#"><i class="os-icon os-icon-user-male-circle2"></i> Tài khoản</a>
                        <a class="dropdown-item" href="#"><i class="os-icon os-icon-signs-11"></i> Thoát</a>

                    </div>


                </div>

                <ul class="main-menu">


                    <li class="has-sub-menu active">
                        <a href="index.html">
                            <div class="icon-w">
                                <div class="os-icon os-icon-newspaper"></div>
                            </div>
                            <span>Bài viết</span></a>
                        <ul class="sub-menu">

                            <li class="active">
                                    <a href="new.html">Tạo bài viết mới</a>
                                </li>


                            <li class="active">
                                <a href="index.html">Tất cả bài viết</a>
                            </li>
                            <li>
                                <a href="chuyenmuc.html">Chuyên mục</a>
                            </li>
                            <li>
                                <a href="the.html">Thẻ</a>
                            </li>
                        </ul>
                    </li>


                    <li class="has-sub-menu active">
                        <a href="ql-tacgia.html">
                            <div class="icon-w">
                                <div class="os-icon os-icon-edit-3"></div>
                            </div>
                            <span>Tác giả</span></a>
                        <ul class="sub-menu">
                            <li class="active">
                                <a href="ql-tacgia.html">Nhuận bút</a>
                            </li>
                          
                        </ul>
                    </li>

              

                    <li >
                        <a href="ql-thanhvien.html">
                            <div class="icon-w">
                                <div class="os-icon os-icon-user-male-circle"></div>
                            </div>
                            <span>Thành viên</span></a>
                    </li>


                    <li >
                        <a href="index.html">
                            <div class="icon-w">
                                <div class="os-icon os-icon-pie-chart-1"></div>
                            </div>
                            <span>Quảng cáo</span></a>
                    </li>


                </ul>

            </div>
        </div><!--------------------
          END - Menu side 
          -------------------->