.call-to-action {
  text-align: center;
  max-width: 800px;
  margin: 0px auto;
  padding: 50px 20px;
  .cta-header {
    font-size: $font-size-h1 * 1.2;
  }
  .cta-desc {
    font-weight: $font-weight-light;
    color: $body-color-light;
    font-size: $font-size-base * 1.3;
  }
  .cta-btn {
    margin-top: 40px;
    .btn-lg {
      font-size: $font-size-base * 1.6;
      font-weight: $font-weight-bold;
      padding: 18px 40px;
      text-transform: uppercase;
      letter-spacing: 3px;
      padding-left: 50px;
    }
    span {
      display: inline-block;
      vertical-align: middle;
    }
    i {
      margin-right: 0px;
      font-size: 30px;
      display: inline-block;
      vertical-align: middle;
    }
    span + i {
      margin-left: 10px;
      opacity: 0.4;
    }
    i + i {
      margin-left: -18px;
    }
  }
}