{{#extend "default"}}

{{#content "main"}}


<div class="content-panel-toggler">
    <i class="os-icon os-icon-grid-squares-22"></i><span>Sidebar</span>
</div>


<div class="content-i">
    <div class="content-box" style="padding: 0px">
        <div class="app-email-w">
            <div class="app-email-i">
                <div class="ae-content-w">

                    <div class="ae-content">
                        <div class="aec-full-message-w show-pack">


                            <div class="aec-full-message">


                                <div class="message-content">




                                    <form novalidate="true">
                                        <h5 class="form-header">
                                            Tạo bài viết
                                        </h5>


                                        <div class="form-group ">
                                            <label for=""> Tiêu đề bài viết</label><input class="form-control"
                                                                                          placeholder="Nhập tiêu đề tại đây"
                                                                                          type="text">
                                        </div>

                                        <div class="form-group ">
                                            <label for=""> Nội dung bài viết</label>

                                            <textarea cols="80" id="ckeditor1" name="ckeditor1" rows="10"></textarea>

                                        </div>

                                        <div class="form-group">
                                            <label for=""> Hình ảnh đại diện</label>
                                            <input type="file" class="form-control">
                                        </div>

                                        <div class="form-group">
                                            <label for=""> Chọn chuyên mục</label><select class="form-control select2" multiple="true">
                                            <option selected="true">
                                                Thời sự
                                            </option>
                                            <option selected="true">
                                                Kinh tế
                                            </option>
                                            <option>
                                                Thể Thao
                                            </option>
                                            <option>
                                                Kinh doanh
                                            </option>
                                            <option>
                                                Giải trí
                                            </option>
                                        </select>
                                        </div>


                                        <div class="form-group">
                                            <label for=""> Chọn thẻ</label><select class="form-control select2" multiple="true">
                                            <option selected="true">
                                                Chiến tranh triều tiên
                                            </option>
                                            <option selected="true">
                                                Giáo dục đại học
                                            </option>
                                            <option>
                                                Đoàn thanh niên
                                            </option>
                                            <option>
                                                Trải nghiệm
                                            </option>
                                            <option>
                                                Giải trí
                                            </option>
                                        </select>
                                        </div>

                                        <div class="form-buttons-w text-right" style="text-align: right">
                                            <button class="btn btn-default" type="submit"> Hủy</button>
                                            <button class="btn btn-primary" type="submit"> Đăng bài viết</button>
                                        </div>


                                    </form>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{{/content}}


{{/extend}}