{{#extend "default"}}

{{#content "main"}}


<div class="content-panel-toggler">
    <i class="os-icon os-icon-grid-squares-22"></i><span>Sidebar</span>
</div>


<div class="content-i">
    <div class="content-box">
        <div class="element-wrapper">
            <h6 class="element-header">
                Quản lý thành viên
            </h6>
            <div class="element-box">
                <h5 class="form-header">
                    Danh sách
                </h5>
                <div class="form-desc">Danh sách thành viên
                </div>
                <div class="controls-above-table">
                    <div class="row">
                        <div class="col-sm-6">
                            <a class="btn btn-sm btn-primary" href="#">Thêm mới thành viên</a><a class="btn btn-sm btn-primary"
                                                                                          href="#">Xuất danh sách</a><a
                                class="btn btn-sm btn-danger" href="#">Xóa</a>
                        </div>
                        <div class="col-sm-6">
                            <form class="form-inline justify-content-sm-end">
                                <input class="form-control form-control-sm rounded bright" placeholder="Tìm kiếm"
                                       type="text"><select class="form-control form-control-sm rounded bright">
                                <option selected="selected" value="">
                                    Select Status
                                </option>
                                <option value="Pending">
                                    Pending
                                </option>
                                <option value="Active">
                                    Active
                                </option>
                                <option value="Cancelled">
                                    Cancelled
                                </option>
                            </select>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-lightborder">
                        <thead>
                        <tr>
                            <th class="text-center">
                                <input class="form-control" type="checkbox">
                            </th>
                            <th>
                               Tên thành viên
                            </th>
                            <th>
                               Thư điện tử
                            </th>
                          
                            <th class="text-center">
                                Trạng thái
                            </th>
                            <th class="text-right">
                               Vai trò
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-center">
                                <input class="form-control" type="checkbox">
                            </td>
                            <td>
                                Bùi Kim Quyên
                            </td>
                            <td>
                                abc@gmail.com
                            </td>
                        
                            <td class="text-center">
                                <div class="status-pill green" data-title="Complete" data-toggle="tooltip"
                                     data-original-title="" title=""></div>
                            </td>
                            <td class="text-right">
                                Thành viên
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-control" type="checkbox">
                            </td>
                            <td>
                                Võ An Phước Thiện
                            </td>
                            <td>
                                abc@gmail.com
                            </td>
                        
                            <td class="text-center">
                                <div class="status-pill red" data-title="Cancelled" data-toggle="tooltip"
                                     data-original-title="" title=""></div>
                            </td>
                            <td class="text-right">
                                Thành viên
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-control" type="checkbox">
                            </td>
                            <td>
                                Dương Hoài Phương
                            </td>
                            <td>
                                abc@gmail.com
                            </td>
                         
                            <td class="text-center">
                                <div class="status-pill green" data-title="Complete" data-toggle="tooltip"
                                     data-original-title="" title=""></div>
                            </td>
                            <td class="text-right">
                                Thành viên
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-control" type="checkbox">
                            </td>
                            <td>
                                Nguyễn Thế Vinh
                            </td>
                            <td>
                                abc@gmail.com
                            </td>
                         
                            <td class="text-center">
                                <div class="status-pill yellow" data-title="Pending" data-toggle="tooltip"
                                     data-original-title="" title=""></div>
                            </td>
                            <td class="text-right">
                                Thành viên
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-control" type="checkbox">
                            </td>
                            <td>
                                Trương Gia Mẫn
                            </td>
                            <td>
                                abc@gmail.com
                            </td>
                       
                            <td class="text-center">
                                <div class="status-pill green" data-title="Complete" data-toggle="tooltip"
                                     data-original-title="" title=""></div>
                            </td>
                            <td class="text-right">
                                Thành viên
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

{{/content}}


{{/extend}}