{{#extend "default"}}

{{#content "main"}}


<div class="content-panel-toggler">
    <i class="os-icon os-icon-grid-squares-22"></i><span>Sidebar</span>
</div>


<div class="content-i">
    <div class="content-box">
        <div class="element-wrapper">
            <h6 class="element-header">
                Quản lý quảng cáo
            </h6>
            <div class="element-box">
                <h5 class="form-header">
                    Danh sách
                </h5>
                <div class="form-desc">Danh sách quảng cáo
                </div>
                <div class="controls-above-table">
                    <div class="row">
                        <div class="col-sm-6">
                            <a class="btn btn-sm btn-primary" href="#">Thêm mới quảng cáo</a><a class="btn btn-sm btn-primary"
                                                                                          href="#">Xuất danh sách</a><a
                                class="btn btn-sm btn-danger" href="#">Xóa</a>
                        </div>
                        <div class="col-sm-6">
                            <form class="form-inline justify-content-sm-end">
                                <input class="form-control form-control-sm rounded bright" placeholder="Tìm kiếm"
                                       type="text"><select class="form-control form-control-sm rounded bright">
                                <option selected="selected" value="">
                                    Select Status
                                </option>
                                <option value="Pending">
                                    Pending
                                </option>
                                <option value="Active">
                                    Active
                                </option>
                                <option value="Cancelled">
                                    Cancelled
                                </option>
                            </select>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-lightborder">
                        <thead>
                        <tr>
                            <th class="text-center">
                                <input class="form-control" type="checkbox">
                            </th>
                            <th>
                               Tên quảng cáo
                            </th>
                            <th>
                               Nhà tài trợ
                            </th>
                          
                            <th class="text-center">
                                Ngày bắt đầu
                            </th>
                            <th class="text-right">
                                Ngày kết thúc
                            </th>

                            <th class="text-center">
                                Trạng thái
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-center">
                                <input class="form-control" type="checkbox">
                            </td>
                            <td>
                                Quảng cáo TIVI
                            </td>
                            <td>
                                Samsung
                            </td>
                        
                            <td class="text-center">
                               15/06/2017
                            </td>
                            <td class="text-right">
                                15/07/2017
                            </td>

                            <td class="text-center">
                                <div class="status-pill green" data-title="Complete" data-toggle="tooltip"
                                     data-original-title="" title=""></div>
                            </td>
                        </tr>

                        <tr>
                            <td class="text-center">
                                <input class="form-control" type="checkbox">
                            </td>
                            <td>
                                Quảng cáo PHONE
                            </td>
                            <td>
                                Apple
                            </td>
                        
                            <td class="text-center">
                               15/06/2017
                            </td>
                            <td class="text-right">
                                15/07/2017
                            </td>

                            <td class="text-center">
                                <div class="status-pill green" data-title="Complete" data-toggle="tooltip"
                                     data-original-title="" title=""></div>
                            </td>
                        </tr>

                        <tr>
                            <td class="text-center">
                                <input class="form-control" type="checkbox">
                            </td>
                            <td>
                                Quảng cáo LAPTOP
                            </td>
                            <td>
                                Asus
                            </td>
                        
                            <td class="text-center">
                               15/06/2017
                            </td>
                            <td class="text-right">
                                15/07/2017
                            </td>

                            <td class="text-center">
                                <div class="status-pill green" data-title="Complete" data-toggle="tooltip"
                                     data-original-title="" title=""></div>
                            </td>
                        </tr>


                        <tr>
                            <td class="text-center">
                                <input class="form-control" type="checkbox">
                            </td>
                            <td>
                                Quảng cáo GYM
                            </td>
                            <td>
                                Gym Foundation
                            </td>
                        
                            <td class="text-center">
                               15/06/2017
                            </td>
                            <td class="text-right">
                                15/07/2017
                            </td>

                            <td class="text-center">
                                <div class="status-pill red" data-title="Complete" data-toggle="tooltip"
                                     data-original-title="" title=""></div>
                            </td>
                        </tr>
                      
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

{{/content}}


{{/extend}}