{{#extend "default"}}

{{#content "main"}}


<div class="content-panel-toggler">
    <i class="os-icon os-icon-grid-squares-22"></i><span>Sidebar</span>
</div>


<div class="content-i">
    <div class="content-box" style="padding: 0px">
        <div class="app-email-w">
            <div class="app-email-i">
                <div class="ae-list-w">

                    <div class="ae-list">

                        <form style="padding: 20px">
                            <h5 class="form-header">
                               Thêm thẻ
                            </h5>

                            <div class="form-group">
                                <label for=""> Tên</label>
                                <input class="form-control form-control-sm" placeholder="" type="text">
                                <p class="form-text text-muted">Tên riêng sẽ hiển thị trên trang mạng của bạn.</p>
                            </div>


                            <div class="form-group">
                                <label for=""> Chuỗi cho đường dẫn tĩnh</label>
                                <input class="form-control form-control-sm" placeholder="" type="text">
                                <p class="form-text text-muted">Chuỗi cho đường dẫn tĩnh là phiên bản của tên hợp chuẩn với Đường dẫn (URL). Chuỗi này bao gồm chữ cái thường, số và dấu gạch ngang (-).</p>
                            </div>


                            <div class="form-group">
                                <label for=""> Mô tả</label>
                                <textarea class="form-control" rows="3"></textarea>
                                <p class="form-text text-muted">Mô tả bình thường không được sử dụng trong giao diện, tuy nhiên có vài giao diện hiện thị mô tả này.</p>
                            </div>



                            <div class="form-buttons-w">
                                <button class="btn btn-primary btn-sm" type="submit"> Thêm thẻ</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="ae-content-w">



                    <div class="aec-head">
                        <div class="actions-left">
                            <select class="form-control form-control-sm rounded">
                                <option value="Pending">
                                    Sort by date
                                </option>
                                <option value="Active">
                                    Sort by view
                                </option>

                            </select> &nbsp;

                            <input class="form-control form-control-sm rounded bright" placeholder="Tìm kiếm" type="text">
                        </div>
                        <div class="actions-right">
                            <div class="aeh-actions">
                                <a href="#"><i class="os-icon os-icon-ui-44"></i></a><a class="separate" href="#"><i
                                    class="os-icon os-icon-ui-15"></i></a>
                            </div>

                        </div>
                    </div>
                    <div class="ae-content">

                        <h5 class="form-header">
                            Danh sách thẻ
                        </h5>

                        <div class="element-box-tp">

                            <div class="table-responsive">
                                <table class="table table-bordered table-lg table-v2 table-striped">
                                    <thead>
                                    <tr>
                                        <th class="text-center">
                                            <input class="form-control" type="checkbox">
                                        </th>
                                        <th>
                                            Tên
                                        </th>
                                        <th>
                                            Mô tả
                                        </th>
                                        <th>
                                            Chuỗi cho đường dẫn tĩnh
                                        </th>

                                        <th>

                                        </th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="text-center">
                                            <input class="form-control" type="checkbox">
                                        </td>
                                        <td>
                                            Hoạt động chuyên môn
                                        </td>
                                        <td>
                                        </td>
                                        <td class="text-right">
                                            hoat-dong-chuyen-mon
                                        </td>

                                        <td class="row-actions">
                                            <a href="#"><i class="os-icon os-icon-pencil-2"></i></a><a href="#"><i class="os-icon os-icon-link-3"></i></a><a class="danger" href="#"><i class="os-icon os-icon-database-remove"></i></a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="text-center">
                                            <input class="form-control" type="checkbox">
                                        </td>
                                        <td>
                                            Thế giới
                                        </td>
                                        <td>
                                        </td>
                                        <td class="text-right">
                                            the-gioi
                                        </td>

                                        <td class="row-actions">
                                            <a href="#"><i class="os-icon os-icon-pencil-2"></i></a><a href="#"><i class="os-icon os-icon-link-3"></i></a><a class="danger" href="#"><i class="os-icon os-icon-database-remove"></i></a>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td class="text-center">
                                            <input class="form-control" type="checkbox">
                                        </td>
                                        <td>
                                            Pháp luật
                                        </td>
                                        <td>
                                        </td>
                                        <td class="text-right">
                                            phap-luat
                                        </td>

                                        <td class="row-actions">
                                            <a href="#"><i class="os-icon os-icon-pencil-2"></i></a><a href="#"><i class="os-icon os-icon-link-3"></i></a><a class="danger" href="#"><i class="os-icon os-icon-database-remove"></i></a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="text-center">
                                            <input class="form-control" type="checkbox">
                                        </td>
                                        <td>
                                            Du lịch
                                        </td>
                                        <td>
                                        </td>
                                        <td class="text-right">
                                           du-lich
                                        </td>

                                        <td class="row-actions">
                                            <a href="#"><i class="os-icon os-icon-pencil-2"></i></a><a href="#"><i class="os-icon os-icon-link-3"></i></a><a class="danger" href="#"><i class="os-icon os-icon-database-remove"></i></a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="text-center">
                                            <input class="form-control" type="checkbox">
                                        </td>
                                        <td>
                                            Cộng đồng
                                        </td>
                                        <td>
                                        </td>
                                        <td class="text-right">
                                            cong-dong
                                        </td>

                                        <td class="row-actions">
                                            <a href="#"><i class="os-icon os-icon-pencil-2"></i></a><a href="#"><i class="os-icon os-icon-link-3"></i></a><a class="danger" href="#"><i class="os-icon os-icon-database-remove"></i></a>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td class="text-center">
                                            <input class="form-control" type="checkbox">
                                        </td>
                                        <td>
                                            Sức khỏe
                                        </td>
                                        <td>
                                        </td>
                                        <td class="text-right">
                                            suc-khoe
                                        </td>

                                        <td class="row-actions">
                                            <a href="#"><i class="os-icon os-icon-pencil-2"></i></a><a href="#"><i class="os-icon os-icon-link-3"></i></a><a class="danger" href="#"><i class="os-icon os-icon-database-remove"></i></a>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td class="text-center">
                                            <input class="form-control" type="checkbox">
                                        </td>
                                        <td>
                                            Giải trí
                                        </td>
                                        <td>
                                        </td>
                                        <td class="text-right">
                                            giai-tri
                                        </td>

                                        <td class="row-actions">
                                            <a href="#"><i class="os-icon os-icon-pencil-2"></i></a><a href="#"><i class="os-icon os-icon-link-3"></i></a><a class="danger" href="#"><i class="os-icon os-icon-database-remove"></i></a>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td class="text-center">
                                            <input class="form-control" type="checkbox">
                                        </td>
                                        <td>
                                            Kinh doanh
                                        </td>
                                        <td>
                                        </td>
                                        <td class="text-right">
                                            kinh-doanh
                                        </td>

                                        <td class="row-actions">
                                            <a href="#"><i class="os-icon os-icon-pencil-2"></i></a><a href="#"><i class="os-icon os-icon-link-3"></i></a><a class="danger" href="#"><i class="os-icon os-icon-database-remove"></i></a>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="controls-below-table">
                                <div class="table-records-info">
                                    Showing records 1 - 5
                                </div>
                                <div class="table-records-pages">
                                    <ul>
                                        <li>
                                            <a href="#">Previous</a>
                                        </li>
                                        <li>
                                            <a class="current" href="#">1</a>
                                        </li>
                                        <li>
                                            <a href="#">2</a>
                                        </li>
                                        <li>
                                            <a href="#">3</a>
                                        </li>
                                        <li>
                                            <a href="#">4</a>
                                        </li>
                                        <li>
                                            <a href="#">Next</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{/content}}


{{/extend}}